@* <!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/sneat-1.0.0/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Ferre IT</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/sneat-1.0.0/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Helpers -->
    <script src="~/sneat-1.0.0/assets/vendor/js/helpers.js"></script>
    <script src="~/sneat-1.0.0/assets/js/config.js"></script>




</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <!-- Sidebar -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="/" class="app-brand-link">
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">FERRE</span>
                    </a>


                    <!-- HAMBURGER MENÜ BUTONU -->
                    <button type="button" class="layout-menu-toggle btn btn-sm btn-outline-primary">
                        <i class="bx bx-menu"></i>
                    </button>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>

                </div>



                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Kartlar -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Kartlar</span>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-dock-top"></i>
                            <div data-i18n="Kart İşlemleri">Kart İşlemleri</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Card/Index" class="menu-link" target="_blank">
                                    <div data-i18n="Kart Düzenleme">Kart Düzenleme</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="pages-account-settings-notifications.html" class="menu-link" target="_blank">
                                    <div data-i18n="Yazılım Düzenleme">Yazılım Düzenleme</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Onay Süreçleri -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Onay Durumu</span>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0)" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-file"></i>
                            <div data-i18n="Onay Süreçleri">Onay Süreçleri</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item"><a href="ui-accordion.html" class="menu-link">Onay Bekleyenler</a></li>
                            <li class="menu-item"><a href="ui-alerts.html" class="menu-link">Onaylananlar</a></li>
                            <li class="menu-item"><a href="ui-badges.html" class="menu-link">Reddedilenler</a></li>
                        </ul>
                    </li>

                    <!-- Kullanıcı İşlemleri -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Kullanıcı İşlemleri</span>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                            <div data-i18n="Authentications">Authentications</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item"><a href="/Login/Index" class="menu-link" target="_blank">Login</a></li>
                            <li class="menu-item"><a href="/Register/Index" class="menu-link" target="_blank">Register</a></li>
                            <li class="menu-item"><a href="auth-forgot-password-basic.html" class="menu-link" target="_blank">Forgot Password</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <!-- /Sidebar -->
            <!-- Content -->
            <div class="layout-page">

                <!-- Navbar (istersen buraya ekleyebilirsin) -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">


                        @RenderBody()
                    </div>
                </div>
                <!-- /Content wrapper -->
            </div>
            <!-- /Layout page -->
        </div>
    </div>

    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Core JS -->
    <script src="~/sneat-1.0.0/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/js/bootstrap.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/js/menu.js"></script>

    <!-- Vendors JS -->
    <script src="~/sneat-1.0.0/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/sneat-1.0.0/assets/js/main.js"></script>
    <script src="~/sneat-1.0.0/assets/js/dashboards-analytics.js"></script>

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

   



</body>
</html>


 *@



 @{
    var user = Context.Session.GetString("User");
    var role = Context.Session.GetString("Role");
}

@if (!string.IsNullOrEmpty(user))
{

<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/sneat-1.0.0/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Ferre IT</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/sneat-1.0.0/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Helpers -->
    <script src="~/sneat-1.0.0/assets/vendor/js/helpers.js"></script>
    <script src="~/sneat-1.0.0/assets/js/config.js"></script>


    <style>

            /* Sidebar default */
            #layout-menu {
                width: 250px;
                transition: transform 0.3s ease;
                background-color: #2c2c2c !important;
                color: #fff;
                box-shadow: 2px 0 8px rgba(0,0,0,0.4);
                z-index: 1050;
            }

                /* Kapalı hali */
                #layout-menu.closed {
                    transform: translateX(-250px);
                }

            /* Mobilde başlangıçta kapalı */
            @@media (max-width: 768px) {
                #layout-menu

            {
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                transform: translateX(-250px);
            }

            #layout-menu.open {
                transform: translateX(0);
            }

            .layout-overlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
                z-index: 1040;
            }

                .layout-overlay.active {
                    display: block;
                }

            }

          /*   .bg-navbar-theme {
                background-color: #2c2c2c !important; 
                color: #fff !important; 
            } */

            .layout-navbar {
                background-color: transparent !important;
                box-shadow: none !important;
                border: none;
            }

            #layout-menu .app-brand {
                padding-top: 70px; /* Logo kısmını aşağı kaydırır */
                padding-bottom: 20px;
            }

         
        </style>


</head>


@* 
<!-- Sidebar Toggle CSS -->
<style>

    /* datatable ile sidebar arası görünüm */
    .container-xxl {
        max-width: 1000px; /* Genişliği sınırladık */
        margin-left: 0px; /* Sidebar genişliği kadar sola kaydırdık */
    }

    @@media (max-width: 768px) {
        .container-xxl

    {
        margin-left: 0px; /* Mobilde sidebar kapalıysa sola yaslanmasın */
    }

    }

 
    /* Sidebar varsayılan */
    #layout-menu {
        width: 250px;
        transition: transform 0.3s ease;
        background-color: #2c2c2c !important;
        color: #fff;
        box-shadow: 2px 0 8px rgba(0,0,0,0.4);
        z-index: 1050;
    }

        /* Kapalı hali */
        #layout-menu.closed {
            transform: translateX(-250px);
        }

    /* Küçük ekranda başlangıçta açık */
    @@media (max-width: 768px) {
        #layout-menu {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            transform: translateX(0); /* başlangıçta açık */
        }

            #layout-menu.open {
                transform: translateX(0); /* hamburger ile açılınca */
            }

            #layout-menu.closed {
                transform: translateX(-250px); /* hamburger ile kapandığında */
            }
    }
</style> *@



<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <!-- Navbar -->
            <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme px-3">
                    <!-- Overlay (mobilde tıklayınca sidebar kapanacak) -->
                    <div class="layout-overlay" onclick="toggleNav()"></div>
                <!-- Hamburger her zaman görünür -->
                <button type="button" class="btn btn-sm btn-outline-primary me-2" onclick="toggleNav()">
                    <i class="bx bx-menu"></i>
                </button>
               @*  <span class="fw-bold">Ferre IT</span> *@
            </nav>

            <!-- Sidebar -->
                <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme ">
                <div class="app-brand demo">
                    <a href="/" class="app-brand-link">
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">FERRE</span>
                    </a>
                 
                  @*   <div class="logo-header" data-background-color="dark">
                        <a href="index.html" class="logo"></a>
                       <div class="nav-toggle">
                          <button class="btn btn-toggle toggle-sidebar toggled">
                          </button>
                          <button class="btn btn-toggle sidenav-toggler"></button>
                        </div>
                          <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt">
                                ::before
                                ::after
                            </i>
                          </button>
                    </div> *@

                  </div>
                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                        <!-- Kartlar -->
                            <li class="menu-header small text-uppercase">
                                <span class="menu-header-text">Kartlar</span>
                            </li>
                        @if (role == "Admin" || role == "Arge")
                        {
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons bx bx-dock-top"></i>
                                    <div data-i18n="Kart İşlemleri">Kart İşlemleri</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="/Card/Index" class="menu-link" target="_blank">
                                            <div data-i18n="Kart Düzenleme">Kart Düzenleme</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/Software/Index" class="menu-link" target="_blank">
                                            <div data-i18n="Yazılım Düzenleme">Yazılım Düzenleme</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <!-- Onay Süreçleri ilk hai -->
                       
                            <li class="menu-header small text-uppercase">
                                <span class="menu-header-text">Onay Durumu</span>
                            </li>
                        @if (role == "Admin" || role == "Kalite")
                        {
                            <li class="menu-item">
                                <a href="javascript:void(0)" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons bx bx-dock-top"></i>
                                    <div data-i18n="Onay Süreçleri">Onay Süreçleri</div>
                                </a>

                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="/OnaySurecleri/Index?tab=pending" class="menu-link">
                                            <div>Onay Bekleyenler</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/OnaySurecleri/Index?tab=approved" class="menu-link">
                                            <div>Onaylananlar</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/OnaySurecleri/Index?tab=rejected" class="menu-link">
                                            <div>Reddedilenler</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

@* 
                        <!-- Kullanıcı İşlemleri -->
                        <li class="menu-header small text-uppercase">
                            <span class="menu-header-text">Kullanıcı İşlemleri</span>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                                <div data-i18n="Authentications">Authentications</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item"><a href="/Account/Login" class="menu-link" target="_blank">Login</a></li>
                                <li class="menu-item"><a href="/Account/Register" class="menu-link" target="_blank">Register</a></li>
                                <li class="menu-item"><a href="auth-forgot-password-basic.html" class="menu-link" target="_blank">Forgot Password</a></li>
                            </ul>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Logout">Çıkış Yap</a>
                        </li>

                    
                </ul>
            </aside>
            <!-- /Sidebar -->
            <!-- Content -->
            <div class="layout-page">

             @*    <!-- Navbar + Hamburger -->
                <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme px-3">
                    <button type="button" class="layout-menu-toggle btn btn-sm btn-outline-primary me-2">
                        <i class="bx bx-menu"></i>
                    </button>
                    <span class="fw-bold">Ferre IT</span>
                </nav>
                <!-- /Navbar --> *@
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        @RenderBody()
                    </div>
                </div>
                <!-- /Content wrapper -->
            </div>
            <!-- /Layout page -->
        </div>
    </div>

    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Core JS -->
    <script src="~/sneat-1.0.0/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/js/bootstrap.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/js/menu.js"></script>

    <!-- Vendors JS -->
    <script src="~/sneat-1.0.0/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/sneat-1.0.0/assets/js/main.js"></script>
    <script src="~/sneat-1.0.0/assets/js/dashboards-analytics.js"></script>

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>


    <!-- DataTables Responsive CSS -->
    <link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" rel="stylesheet">

    <!-- DataTables Responsive JS -->
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>



    <!-- Sidebar Toggle JS -->
    <script>
        // function toggleNav() {
        //   const menu = document.getElementById("layout-menu");
        //   if (menu.classList.contains("closed")) {
        //     menu.classList.remove("closed");
        //     menu.classList.add("forced-open");
        //   } else {
        //     menu.classList.add("closed");
        //     menu.classList.remove("forced-open");
        //   }
        // }

        // function toggleNav() {
        //     const menu = document.getElementById("layout-menu");
        //     menu.classList.toggle("closed"); // aç/kapa
        // }

                    function toggleNav() {
                const menu = document.getElementById("layout-menu");
                const overlay = document.querySelector(".layout-overlay");

                if (menu.classList.contains("open")) {
                    menu.classList.remove("open");
                    menu.classList.add("closed");
                    overlay.classList.remove("active");
                } else {
                    menu.classList.remove("closed");
                    menu.classList.add("open");
                    overlay.classList.add("active");
                }
            } 

            


    </script>
    @RenderSection("Scripts", required: false)




</body>
</html>

}
else
{
    <script>window.location.href = "/Account/Login";</script>
}